@import "tailwindcss";

@theme {
  --color-ethereal-dark: #0a0a12;
  --color-ethereal-indigo: #1a1a2e;
  --color-ethereal-peach: #ff9a8b;
  --color-ethereal-purple: #9d4edd;
  --color-ethereal-green: #68a063;
}

@layer base {
  body {
    @apply bg-ethereal-dark text-white;
  }
}